*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    background: #0b0831;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color:rgb(5, 20, 102);
    font-family: 'Poppins', sans-serif;
}
.logo{
    color: #a7befc;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size:  17px;
}
.nav-links
{
    display: flex;
    justify-content: space-around;
    width: 35%;
    margin-bottom: 30px;
}
.nav-links li{
    list-style: none;
}
.nav-links a
{
    color: #a7befc;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    background: none;
    margin-top: 10px;

}
.burger{
    display: none;
    cursor: pointer;
}
.burger div
{
    
    width: 25px;
    height: 3px;
    background-color: #a7befc;
    margin: 5px;


    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0b0831;
    transition: 0.5s;
    padding: 20px;
}
.container#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
.container .content{
    position: relative;
    max-width: 800px;
    
}
h2 {
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
    visibility: hidden;
}
p{
    margin-top: 5px;
    text-indent: 15px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
.container .content img{
    max-width: 100%;
    display: block;
}
a{
    position: absolute;
    padding: 5px 20px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color:#fff;
    background: rgb(45, 42, 70);

}
#popup{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;

}
#popup.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.slidershow{
    width: 800px;
    height: 450px;
    overflow: hidden;
    margin-top: -50px;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.5s;

}
.bar:hover{
    background: #fff;

}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;

}
.slide{
    width: 20%;
    transition: 0.6s;

}
.slide img{
    width: 100%;
    height: 100%;

}


#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
#r4:checked ~ .s1{
    margin-left: -60%;
}
#r5:checked ~ .s1{
    margin-left: -80%;
}

@media screen and (max-width:1024px){
    .nav-links
{
    width: 40%;
}
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color:rgb(5, 20, 102);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
  }
  .nav-links li{
      opacity: 1;
  }
  .burger{
      display: block;
  }
}

.nav-active{
    transform: translateX(0%);
}
h2{
    visibility: hidden;
    font-size: 16.7px;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px)
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }

}